* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

header {
  grid-area: header;
  background-color: #97c1a7;
  color: #2d4629;
  text-align: center;
  padding: 25px 0;
  margin: 0;
  outline-style: solid;
  outline-color: #2f824f;
  outline-width: 24px;
  width: 100%;
  height: 15%;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav a {
  margin: 0 10px; /* Lisää hieman marginaalia linkkien väliin */
  text-decoration: none;
  color: #2d4629;
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif; /* Lisää fontti navigointilinkkeihin */
  font-weight: bold; 
}

header nav a:hover {
  text-decoration: underline; /* Lisää alaviiva linkkien päälle hiiren ollessa päällä */
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Ensimmäinen rivi automaattisesti, toinen täyttää tilan, kolmas automaattisesti */
  min-height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-top: -15px;
}

.text-container {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Keskittää tekstisisällön pystysuunnassa */
  align-items: center; /* Keskittää tekstisisällön vaakasuunnassa */
  text-align: center; /*POISTA JOS TEKSTI MENEE VÄÄRÄLLÄ LAILLA KESKELLE!!!!!!!!!!!!!!!!*/
}

.text-container a {
  color: #2f824f;
}

.image-container {
  background-color: #2f824f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.text-container h1 {
  font-family: "Rosario";
  text-align: center;
  color: #2d4629;
  font-size: 70px;
}

.text-container p {
  margin-top: 55px; /* Lisää tilaa paragrafin yläpuolelle */
  font-family: 'Libre Franklin';
  color: #2d4629;
  font-size: 20px;
}


h2 {
  font-family: "Rosario";
  color: #83b27c;
  font-size: 35px; 
  text-align: left;
  margin-left: 80px;
  margin-bottom: 10px;
}



.yhteystiedot {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Keskittää tekstisisällön vaakasuunnassa vasemmalle */
  text-align: left; /* Säilytä tekstisisällön vasemmalle suuntautuva kohdistus */
}

.yhteystiedot h1 {
  font-family: "Rosario";
  text-align: center;
  color: #2d4629;
  font-size: 70px;
}

.yhteystiedot p {
  margin-top: 55px; /* Lisää tilaa paragrafin yläpuolelle */
  font-family: 'Libre Franklin';
  color: #2d4629;
  font-size: 20px;
}

.yhteystiedot h1, .yhteystiedot p {
  margin-left: auto; /* Siirtää elementit oikealle */
  margin-right: auto; /* Siirtää elementit vasemmalle */
  text-align: left; /* Säilyttää tekstin vasemman reunan kohdistuksen */
}



footer {
  grid-area: footer;
  background-color: #004749;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-gap: 15px; /* Lisää tilaa sarakkeiden väliin */
}
.footer-column {
  flex: 1; /* Jokainen sarakkeen leveys muuttuu joustavasti */
  padding: 15px;
  box-sizing: border-box;
  background-color: #004749;
  display: flex; /* Käytä flexboxia */
  flex-direction: column; /* Aseta sisältö pystysuoraan */
  justify-content: center; /* Keskittää sisällön pystysuunnassa */
  align-items: center; /* Keskittää sisällön vaakasuunnassa */
  
}

.kuva1 {
  width: 80%;
  max-width: 100%;
  max-height: 100%;
  min-width: 200px; /* Esimerkiksi */
  min-height: 150px; /* Esimerkiksi */
}

.kuva2 {
  width: 50%;
  max-width: 100%;
  max-height: 100%;
  min-width: 200px; /* Esimerkiksi */
  min-height: 150px;
}



footer p {
  font-family: 'Libre Franklin';
  font-size: 17px;
  color: #e9f4d6;
  text-align: left;
  margin-left: 0px;
}

footer h2 {
  font-family: 'Rosario';
  font-size: 21px;
  color: #83b27c;
  margin-left: -60px;
  text-align: left;
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px; /* Säädä tarvittaessa */
}

.button {
  margin: 0 10px; /* Lisää hieman marginaalia nappien väliin */
  padding: 10px 20px; /* Lisää sisätilaa nappien ympärille */
  font-size: 16px; /* Määritä fonttikoko */
  background-color: #2f824f;
  color: white; /* Määritä tekstin väri */
  border: none; /* Poista reunukset */
  border-radius: 50px; /* Lisää reunan pyöristys */
  cursor: pointer; /* Muuta kohdistimen tyyliksi osoitin */
}

.button:hover {
  background-color: #83b27c; /* Vaihda taustaväri hover-tilassa */
}

.copyright p{
  margin-left: 20px;
  color: #97C1A7;
  font-size: 14px;
}



@media only screen and (max-width: 1170px) {
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-top: -15px;
  max-width: 100%;
  overflow: hidden;
  padding: 0px; /* Pienennä sisätilaa elementin ympärillä */
  }
}


@media only screen and (max-width: 780px) {
  .content {
      grid-template-columns: 1fr;
  }

  header nav {
    flex-wrap: wrap; /* Salli navigointipainikkeiden rivinvaihto */
    justify-content: center; /* Keskitä navigointipainikkeet vaakasuunnassa */
  }

  header nav a:nth-child(3),
  header nav a:nth-child(4) {
    order: 2; /* Aseta "Harjoitusajat" ja "Yhteystiedot" painikkeet toiselle riville */
  }
  
  .text-container {
    padding: 10px; /* Pienennä tekstisisällön sisätilaa */
    margin-top: 50px;
  }

  .text-container h1 {
    font-size: 40px; /* Pienennä otsikon fonttikokoa */
  }

  .text-container p {
    font-size: 16px; /* Pienennä tekstin fonttikokoa */
    margin-top: 20px; /* Lisää ylimääräinen marginaali paragrafin yläpuolelle */
  }


  .yhteystiedot {
    padding: 10px; /* Pienennä tekstisisällön sisätilaa */
    margin-top: 50px;
  }
  
  .button-container {
    flex-direction: column; /* Aseta nappien kontaineri pystysuuntaan */
    align-items: center; /* Keskitä napit vaakasuunnassa */
    margin-top: 20px; /* Lisää ylimääräinen ylämarginaali napin alle */
  }

  .button {
    margin: 10px 0; /* Aseta marginaalit pystysuuntaan */
  }

  footer {
    grid-template-columns: 1fr; /* Aseta sarakkeiden lukumääräksi yksi pylväs */
    grid-template-rows: auto auto auto; /* Aseta rivien lukumääräksi kolme ja niiden korkeudet automaattisiksi */
    text-align: center; /* Keskitä tekstisisältö vaakasuunnassa */
  }

  .footer-column {
    margin-bottom: 20px; /* Lisää ylimääräinen alamarginaali */
  }

  .footer-column h2 {
    margin-top: -80px;
  }

  .footer-column p {
    margin-top: 15px;
  }
  
}





@media only screen and (max-width: 705px) {
  .content {
      grid-template-columns: 1fr;
  }

  .text-container {
    padding: 10px; /* Pienennä tekstisisällön sisätilaa */
    margin-top: 50px;
    margin-left: -50px;
  }

  .yhteystiedot {
    padding: 10px; /* Pienennä tekstisisällön sisätilaa */
    margin-top: 50px;
    margin-left: -50px;
  
  }

  .copyright p{
    text-align: center;
  }

}

@media only screen and (max-width: 630px) {
  .content {
      grid-template-columns: 1fr;
  }

  .text-container {
    padding: 10px; /* Pienennä tekstisisällön sisätilaa */
    margin-top: 50px;
    margin-left: -100px;
  }

  .yhteystiedot {
    padding: 10px; /* Pienennä tekstisisällön sisätilaa */
    margin-top: 50px;
    margin-left: -100px;
  }

  .copyright p{
    text-align: center;
  }

}



@media only screen and (max-width: 600px) {
  .content {
      grid-template-columns: 1fr;
  }

  .text-container {
    padding: 10px; /* Pienennä tekstisisällön sisätilaa */
    margin-top: 50px;
    margin-left: -200px;
  }

  .yhteystiedot {
    padding: 10px; /* Pienennä tekstisisällön sisätilaa */
    margin-top: 50px;
    margin-left: -200px;
  }

  .copyright p{
    text-align: center;
  }

}



@media only screen and (max-width: 500px) {
  .content {
      grid-template-columns: 1fr;
  }

  header nav {
    flex-wrap: wrap; /* Salli navigointipainikkeiden rivinvaihto */
    justify-content: center; /* Keskitä navigointipainikkeet vaakasuunnassa */
  }

  header nav a:nth-child(3),
  header nav a:nth-child(4) {
    order: 2; /* Aseta "Harjoitusajat" ja "Yhteystiedot" painikkeet toiselle riville */
  }
  
  .text-container {
    padding: 10px; /* Pienennä tekstisisällön sisätilaa */
    margin-top: 50px;
    margin-left: -315px;
  }

  .text-container h1 {
    font-size: 40px; /* Pienennä otsikon fonttikokoa */
  }

  .text-container p {
    font-size: 16px; /* Pienennä tekstin fonttikokoa */
    margin-top: 20px; /* Lisää ylimääräinen marginaali paragrafin yläpuolelle */
  }

  .yhteystiedot {
    padding: 10px; /* Pienennä tekstisisällön sisätilaa */
    margin-top: 50px;
    margin-left: -315px;
  }

  .yhteystiedot h1 {
    font-size: 40px; /* Pienennä otsikon fonttikokoa */
  }
  
  .yhteystiedot p {
    font-size: 16px; /* Pienennä tekstin fonttikokoa */
    margin-top: 20px; /* Lisää ylimääräinen marginaali paragrafin yläpuolelle */
  }


  .button-container {
    flex-direction: column; /* Aseta nappien kontaineri pystysuuntaan */
    align-items: center; /* Keskitä napit vaakasuunnassa */
    margin-top: 20px; /* Lisää ylimääräinen ylämarginaali napin alle */
  }

  .button {
    margin: 10px 0; /* Aseta marginaalit pystysuuntaan */
  }

  footer {
    grid-template-columns: 1fr; /* Aseta sarakkeiden lukumääräksi yksi pylväs */
    grid-template-rows: auto auto auto; /* Aseta rivien lukumääräksi kolme ja niiden korkeudet automaattisiksi */
    text-align: center; /* Keskitä tekstisisältö vaakasuunnassa */
  }

  .footer-column {
    margin-bottom: 20px; /* Lisää ylimääräinen alamarginaali */
  }

  .footer-column h2 {
    margin-top: -80px;
  }

  .footer-column p {
    margin-top: 15px;
  }

  .copyright p{
    text-align: center;
  }
  
}