* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

/*body, html {
  margin: 0;
  padding: 0;
  height: 100%;
} */

header{
  background-color: #97c1a7;
  color: #2d4629;
  text-align: center;
  padding: 25px 0;
  margin: 0; /*Lisätty margin*/
  outline-style: solid;
  outline-color: #2f824f;
  outline-width: 24px;

  /*TESTI HEADERIN PYÖRISTYS*/
  width:105%;
  height:15%;
  left:-3%;
  position:absolute;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;

}
footer{
  background-color: #004749;
  color: white;
  text-align: center;
  padding: 20px 0;  
  margin: 0; /*Lisätty margin*/
}
.container {
  display: flex;
  /* Alkuperäinen koodiheight: calc(100% - 120px); Vähennä headerin ja footerin korkeus */
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
.content {
  flex: 1;
  display: flex;
  align-items: stretch;
  margin: 0; /*Uusi osio testissä*/
}
.text-container { /*Tästä eteenpäin uusi testiosio*/
  flex: 1;
  background-color: white;
  padding: 20px;
  margin: 300px 0;
}

.image-container {
  flex: 1;
  background-color: lightgray; /* Korvaa halutulla taustavärillä */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
}

h1,h2 {
  font-family: "Rosario";
}
p {
  font-family: 'Libre Franklin';
}

/*.text-container, .image-container {
  padding: 20px;
  overflow: auto;
}
.text-container {
  background-color: white;
  flex: 1; /* Laajenee ja kutistuu joustavasti
}
.image-container {
  position: relative; /* Mahdollistaa alt-tekstin sijoittamisen 
  flex: 1; /* Laajenee ja kutistuu joustavasti
}
.image-container img {
  max-width: 75%;
  height: auto;
  display: block;
  margin: 0 auto; /* Keskittää kuvan 
}*/